.Uber-button{
  background-color: black;
  height:35px;
  width:105px;
  color: white;
  transition:background-color 0.15s;
  cursor: pointer;
  transition: opacity 0.15s;
}
  .Uber-button:hover{
    opacity:0.8;
  }
  .Uber-button:active{
    opacity:0.4;
  }

.Amazon-button{
 background-color: rgb(255, 216, 20);
 color:black;
 height:35;
 width:125px;
 border:none;
 border-radius:20px;
 transition: opacity 0.15s;
 padding-top: 10;
 padding-bottom: 10;
}
 .Amazon-button:hover{
  opacity:0.8;
 }
 .Amazon-button:active{
  opacity:0.4;
 }

.Github-button{
  background-color: rgb(46, 164, 79);
  color: white;
  height:35px;
  width:110px;
  border-radius:5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition:background-color 0.15s; 
  color:0.15s;
}
  .Github-button:hover{
   background-color: rgb(18, 148, 11);
   color:white;
  }
  .Github-button:active{
    opacity: 0.7;
  }

.Bootstrap-button{
  background-color: rgb(121, 82, 179);
  color:white;
  height: 35px;
  border:none;
  width: 105px;
  border-radius:5px;
  font-weight: bold;
  transition: background-color 0.15s;
  color:0.15s;
}
 .Bootstrap-button:hover{
  background-color: rgb(191, 0, 255);
  color:white;
 }
 .Bootstrap-button:active{
  opacity:0.4;
 }
.Bootstrap-download{
  background-color:none;
  color: rgb(108, 117, 125);
  height:35px;
  border-color:rgb(108, 117, 125);
  width:105px;
  border-radius:5px;
  font-weight:bold;
  transition: opacity 0.15s;
}
 .Bootstrap-download:hover{
  opacity:0.8;
 }
 .Bootstrap-download:active{
  opacity:0.4;
 }

.Linkedin-Company{
 background-color: rgb(10, 102, 194);
 color:white;
 border:none;
 font-weight:bold;
 height:35px;
 width:200px;
 border-radius:20px;
 transition: background-color 0.15;color:0.15s;
}
 .Linkedin-Company:hover{
  background-color: rgb(0, 140, 255);
  color:white;
 }
 .Linkedin-Company:active{
  opacity:0.8;
 }
.Linkedin-Save{
  background-color:none;
  color: rgb(10, 102, 194);
  font-weight:bold;
  height:35;
  width:105;
  border-radius:20px;
  cursor:pointer;
  border-color: rgb(10, 102, 194);
  transition: opacity 0.15s;
}
  .Linkedin-Save:hover{
    opacity:0.8;
  }
  .Linkedin-Save:active{
    opacity:0.4;
  }